// Global & Const

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}

// Cards

.card {
  height: 350px;
  width: 350px;
  margin: 0.5rem;
  opacity: 0.9;
  transition: all 0.5s ease;
  // Questionable opacity, leaving it for aesthetic sake

  &:hover {
    margin: 0.7rem;
    cursor: pointer;
  }

  .card-body {
    overflow: hidden;
  }
}

.headertext {
  font-size: 5rem;
  cursor: pointer;
}

.button_style {
  width: 15rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  height: 3rem !important;
}

.sign_button {
  width: 15rem !important;
  margin-top: 3rem !important;
  height: 2rem !important;
  align-self: center;
}

// Landing Display

.none {
  animation: hide 0.5s forwards;
  position: absolute;
}

.display {
  animation: render 0.5s forwards;
  position: absolute;
}

@keyframes render {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

// Navigation

.hidenav {
  animation: widthhide 1s forwards;
  animation-delay: 1s;

  .headertext {
    font-size: 3rem;
    animation: namechange 1s forwards;
    align-self: center;
  }

  .child_container {
    animation: hidenav 2s forwards;
  }
}

.shownav {
  animation: widthshow 1s forwards;

  .child_container,
  .headertext {
    opacity: 0;
    animation: rendernav 1s forwards;
    animation-delay: 1s;
  }
}

@keyframes rendernav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes hidenav {
  0% {
    opacity: 1;
    margin-top: 25rem;
  }
  90% {
    margin-top: 100rem;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes widthhide {
  0% {
    width: 20rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes widthshow {
  0% {
    width: 5rem;
  }
  100% {
    width: 20rem;
  }
}

@keyframes namechange {
  0% {
    margin-top: 7rem;
    font-size: 5rem;
  }
  100% {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
